{% extends 'base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <p class="blog-info-description">
                    <span>作者：{{ blog.author }}</span>
                    <span>分类：<a href={% url 'blog_with_type' blog.blog_type.pk %}>{{ blog.blog_type }}</a></span>
                    <span>发表日期：{{ blog.created_time|date:"Y-n-d H:i:s" }}</span>
                </p>
                <div class="blog-content">{{ blog.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}
